<% title 'About Us' %>
<% snippet 'RightApp4U was created with one idea in mind: the tools and education you need to grow your professional business shouldn’t put you out of business' %>

<%= stylesheet_link_tag 'new-global', media: 'all', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag 'onboarding', media: 'all', 'data-turbolinks-track' => true %>

<section class="sumo-about-1 py-50 sumo-bg-gradient">
  <div class="container pt-50">
    <div class="row mt-50 mb-30">
      <div class="col-12 text-center">
        <h1 class="mb-20">About Us</h1>
          <p class="big">Helping professionals grow since 2010</p>
      </div>
    </div>
  </div>
</section>
<section class="sumo-about-2 sumo-bg-light text-center py-50">
  <div class="container pt-50">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="sumo-about-highlight">
          <span class="font-weight-normal">RightApp4U was created with one idea in mind:</span></br>
          <span class="sumo-contain">
            <span>the tools and education you need to grow your professional business shouldn’t put you out of business.</span>
          </span>
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="sumo-about-3 text-center pt-lg-50 pb-50" style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card d-flex flex-row flex-wrap justify-content-around p-0 p-lg-30">
          <div class="sumo-about-fact">
            <h3 class="header font-weight-medium">2010</h3>
            <div class="label">Founded</div>
          </div>
          <div class="sumo-about-fact">
            <h3 class="header font-weight-medium">1.8K</h3>
            <div class="label">Number of Deals Ran</div>
          </div>
          <div class="sumo-about-fact">
            <h3 class="header font-weight-medium">12K</h3>
            <div class="label">Number of Software Licenses Launched</div>
          </div>
          <div class="sumo-about-fact">
            <h3 class="header font-weight-medium">₹7.5M</h3>
            <div class="label">₹ Worth Software Licenses Sold</div>
          </div>
          <div class="sumo-about-fact">
            <h3 class="header font-weight-medium">₹690M +</h3>
            <div class="label">Savings For Our Customers</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sumo-about-4 py-50 text-center" style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="pb-30">How RightApp4U Works</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-md-4 mb-20 mb-md-0">
        <img class="mb-20" src="<%= image_path 'magnify.svg' %>" width="auto" height="40" alt="Magnify Image">
        <h3 class="font-weight-medium">We find and partner with the hottest tech companies.</h3>
        <p class="small text-secondary">We're talking Vipre, Kaspersky, Kensington...just to name a few.</p>
      </div>
      <div class="col-md-4 mb-20 mb-md-0">
        <img class="mb-20" src="<%= image_path 'key-variant.svg' %>" width="auto" height="40" alt="Key Image">
        <h3 class="font-weight-medium">You get access to insane deals on their products.</h3>
        <p class="small text-secondary">But don't sleep on it! Our deals sell out within a couple weeks.</p>
      </div>
      <div class="col-md-4">
        <img class="mb-20" src="<%= image_path 'currency-usd.svg' %>" width="auto" height="40" alt="Currency Image">
        <h3 class="font-weight-medium">You save thousands of dollars (and of course rupees).</h3>
        <p class="small text-secondary">And build up a full arsenal of tools to grow your business.</p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="sumo-about-5 pt-50 mb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VI9EeJBjTv4" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="sumo-about-6 py-50 mb-md-50" style="background-color: #fff;margin-bottom:0 !important;padding-bottom:50px !important;">
  <div class="container">
    <div class="sumo-about-6-a row text-center">
      <div class="col-12">
        <h2 class="pb-30">Our Story</h2>
      </div>
    </div>
    <div class="sumo-about-6-b row">
      <div class="col-lg-6 sumo-story-cell mb-0 mb-sm-0 mb-lg-0">
        <div class="sumo-block">
          <h3 class="header">Who We Are</h3>
          <p class="mb-0"><b>RightApp4U</b> (previously marketing and selling software under Niam Computech) was started, in 2010, by a serial entrepreneur - Chetan Mittal — in his dad’s apartment in Chandigarh. Today, RightApp4U is home to some of the best-looking and smartest (not to mention most humble) techies Bengaluru, Karnataka has ever seen.</p>
        </div>
      </div>
      <div class="col-lg-6 sumo-block-img mb-0 mb-sm-30 mb-lg-0" title="Who We Are - RightApp4U">
      </div>
    </div>
    <div class="sumo-about-6-c row">
      <div class="col-lg-6 order-lg-2 sumo-story-cell mb-0 mb-sm-0 mb-lg-0">
        <div class="sumo-block">
          <h3 class="header">What We Do</h3>
          <p class="mb-0">We work hard each day to ensure that our customers and partners are saving & making money, respectively, in their business. By partnering with the hottest start-ups & companies, we provide our community - of professionals working independently in industries such as <b>Finance</b>, <b>Accounting</b>, <b>Healthcare</b>, <b>Architecture</b>, <b>Consulting</b> etc - with incredible and affordable software solutions for every stage of their entrepreneurial journey.</p>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1 sumo-block-img mb-0 mb-sm-30 mb-lg-0" title="What We Do - RightApp4U">
      </div>
    </div>
    <div class="sumo-about-6-d row">
      <div class="col-lg-6 sumo-story-cell mb-0 mb-sm-0 mb-lg-0">
        <div class="sumo-block">
          <h3 class="header">Why We Do What We Do</h3>
          <p class="mb-0">We do it all for the kaapis. We’ve helped launch hundreds of <b>software and educational products</b>, in India and overseas, over the years and have given new professionals access to the cutting-edge tools to grow their business. We’ve been called your "most productive addiction" — and we love it.</p>
        </div>
      </div>
      <div class="col-lg-6 sumo-block-img" title="Why We Do What We Do">
      </div>
    </div>
  </div>
</section>

<!-- <section class="sumo-about-7 py-50 mb-50">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="pb-30">Meet The Team</h2>
      </div>
    </div>
    <div class="row d-flex text-center">
      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid" src="#">
        <h3 class="h5 mt-20">Chetan Mittal</h3>
        <p class="mb-20 text-muted">President</p>
      </div>
    </div>
  </div>
</section> -->

<section class="sumo-about-8 sumo-bg-light py-50">
  <div class="container pt-50">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="h5 text-secondary">FEATURED IN</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center justify-content-xl-between text-center">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center">
        <img class="img-fluid" src="<%= image_path 'featured/business-insider.svg' %>" width="200" height="auto" alt="Business Insider Logo">
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center">
        <img class="img-fluid p-20" src="<%= image_path 'featured/tech-crunch.svg' %>" width="125" height="auto" alt="Tech Crunch Logo">
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center">
        <img class="img-fluid p-20" src="<%= image_path 'featured/product-hunt.svg' %>" width="175" height="auto" alt="Product Hunt Logo">
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center">
        <img class="img-fluid p-20" src="<%= image_path 'featured/entrepreneur.svg' %>" width="175" height="auto" alt="Entrepreneur Logo">
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center">
        <img class="img-fluid p-20" src="<%= image_path 'featured/inc.svg' %>" width="175" height="auto" alt="Inc Logo">
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center">
        <img class="img-fluid p-20" src="<%= image_path 'featured/forbes.svg' %>" width="200" height="auto" alt="Forbes Logo">
      </div>
    </div>
    <hr class="pb-30">
    <div class="row mt-10 mb-50">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide sumo-testimonial-carousel" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="sumo-testimonial">
                <blockquote>
                  RightApp4U is a no brainer if you've got a growing business.
                  It's insane the value you get from this deal to help that process BIG TIME.
                  <br>
                  - RightApp4U Partner
                </blockquote>
              </div>
            </div>
            <div class="carousel-item">
              <div class="sumo-testimonial">
                <blockquote>
                  There are some amazing deals that come through you simply should not pass up if you’re a consultant, a small-medium sized business owner, an entrepreneur, or a freelance marketer!
                  <br>
                  - CA Naveen Kumar
                </blockquote>
              </div>
            </div>
            <div class="carousel-item">
              <div class="sumo-testimonial">
                <blockquote>
                  Tigerites are a fantastic community of early adopters who are really trying to help us build a better tool.
                  <br>
                  - BTrackerTask Team
                </blockquote>
              </div>
            </div>
            <div class="carousel-item">
              <div class="sumo-testimonial">
                <blockquote>
                  If you are a freelance worker, like me, what are you waiting for? Go to this site right now and buy all the offers you find! I’m not kidding, RightApp4U is a ray of sunshine for every freelance worker who can’t pay the subscription to all these services.
                  <br>
                  - Manoj K. Jindal
                </blockquote>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sumo-about-9 text-center">
  <div class="container">
    <div class="row">
      <div class="sumo-about-9-a col-lg-6 sumo-bg-dark">
        <div class="px-30 py-50 m-sm-50">
          <h3>Looking To Partner With Us?</h3>
          <p class="mb-20">We partner with over a hundred companies every year. If you think you’re a good fit, fill out an application for our team to review.</p>
          <a href="<%= pages_business_path %>" class="btn btn-outline-primary">Partner Application</a>
        </div>
      </div>
      <div class="sumo-about-9-b col-lg-6 sumo-bg-darker">
        <div class="px-30 py-50 m-sm-50">
          <h3>Join Our Team</h3>
          <p class="mb-20">We’re always looking for people who can help turn our mission into a reality. Check out our Careers page to see currently available positions.</p>
          <a href="<%= pages_careers_path %>" class="btn btn-outline-primary">RightApp4U Careers</a>
        </div>
      </div>
    </div>
  </div>
</section>
